.header{
    background-image: url('/assets/faq.png');
    background-size:cover;
    color: white;
    height: 180px;
}
h4{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
img{
    margin-top: 2rem;
}
p{font-size: small;}
