$primary-color:#195A00;
$second-color:#ffffff;
.btn{
    background-color: $primary-color;
    color: $second-color;
    margin-right: 0.5em;
    padding: 0.3em 1em;
    border-radius: 40px;
}
.navbar{
    .container-fluid{
        width: 100%;
        flex-wrap: wrap;
        .right{
            .cart{
                position: relative;
                cursor: pointer;
                i{
                    color:$primary-color;
                }
                .notification{
                    position: absolute;
                    top: -.3rem;
                    right: -.5rem;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $primary-color;
                    color: $second-color;
                    position: absolute;
                    font-size: x-small;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }
            }
        }
        .center{
            a{
               cursor: pointer;
               text-decoration: none;
               margin:0 1em ;
               color: #000;
            }
            a:hover,a.active{color: $primary-color;}
            
        }

    }
}

/* الشاشات الصغيرة */
@media (max-width: 576px) {
  .box {
    width: 45%;            /* أو 100% لو عايزة */
  }
 .navbar{.container-fluid{
  .center {
    order: 3;              /* ينزل تحت */
    width: 100%;           /* يخليه في النص تلقائيًا */
    margin-top: 10px;
    a{margin: 0 .3em;}
  }}}
}