$primary-color:#195A00;
$second-color:#ffffff;
footer{
    h2{color: #43121D;}
    p{font-size: x-small;}
    .btn{
        background-color: $primary-color;
        color: $second-color;
        margin-left: 5px;
        border-radius: 4px;
        font-size: small;
        padding: 8px 30px;
    }
    .copy{
    background-color: $primary-color;
    color: $second-color;
    padding: 2rem;
    font-size: small;
    a{
        color: $second-color;
        text-decoration: none;
        padding: 1rem;
        cursor: pointer;    }
        i{
            color: $primary-color;
            background-color: $second-color;
            border-radius: 50%;
            padding: 5px;
            width: 30px;
            height: 30px;
            margin: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    p{margin: 1rem;}
}
}
