$primary-color:#195A00;
$second-color:#ffffff;
.footer{
    background-color: #F0F4EC;
    .food{
        .title{
            font-size: large;
            font-weight: bold;
            margin-bottom: 1em;
            span{color: $primary-color;}
        }
        p{font-size: small;}
        .btn{
        background-color: $primary-color;
    }
    }
    .contact{
        font-size: small;
    }
    .links{
        a{
            padding: .5em;
            cursor: pointer;        
            font-size: small;

        }
    }
    .insta{
        max-width: 20%;
        text-align: start;
        h6{margin: 0; padding: 0;}
        .col-6,.col-md-4{
            padding: .05em;
        }
    }
    
}
.copy{
    background-color: $primary-color;
    color: $second-color;
    padding: 2rem;
    font-size: small;
    a{
        color: $second-color;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
    }
    p{margin: 0;}
}