$primary-color:#195A00;
$second-color:#ffffff;
.header{
    background-image: url('/assets/cart.png');
    background-size:cover;
    color: $second-color;
    height: 180px;
}
.btn{
    background-color: $primary-color;
    color: $second-color;
    margin-right: 0.5em;
    padding: 0.3em 1em;
    font-size: small;
    border-radius: 0;
    text-transform: capitalize;
}
.d-flex{
    flex-wrap: wrap;}
.col-4{padding: 0;}
.card{
            border-radius:  30px 5px 30px 0;
            overflow: hidden;   
            border-left: 0;
            margin: .5rem;
            box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
            .card-img-top{border-radius: 5px;height: 13rem;}
            .card-body{
                p,h5{padding: 0;margin: 0;}
                .card-text{font-size: x-small;}
                .price{
                    color: $primary-color;
                    padding:5px 0;
                    font-size: large;
                }
                .btn{border-radius: 2px;}
            }
        }