$primary-color:#195A00;
$second-color:#ffffff;
.btn{
    background-color: $primary-color;
    color: $second-color;
    margin-right: 0.5em;
    padding: 0.3em 1em;
    font-size: small;
    border-radius: 0;
    text-transform: capitalize;
}
.head,.about,.about2{
    .content{
        max-width: 50%;
        p{
            margin-top: 1rem;
            font-size:x-small;
        }
    }
}
.rating{
    background-color: $primary-color;
    color: $second-color;
    p,h3{margin: 0;}
    p{text-transform:uppercase;font-size: small;}
}
.about2{
    li{
        font-size: small;
    }
    .image{
       .d-flex div{
        padding: .5em;
        }
    }
}

.story{
    padding: 4rem 8rem;
    background-color: #E9E7EA;
    position: relative;
    h4{color: $primary-color;}
    p{font-size: small;}
    .btn{
        background-color: #E9E7EA;
        border:1px solid #43121D;
        border-radius: 5px;
        color: #43121D;
    }
    .pic{
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        width: 12%;
    }
}

.foods{
    h4{
        color: #43121D;
    }
    p{font-size: small;padding:0 4rem;}
    .menu{
        .swiper-horizontal{ .swiper-button-next,.swiper-button-prev{
            color: $primary-color;
            }
            .swiper-button-next{right:-.5rem ;}.swiper-button-prev{left: -.5rem;}
        }
        .col-4{padding: 0;}
        .card{
            border-radius:  30px 5px 30px 0;
            overflow: hidden;
            margin: .5rem;     
            border-left: 0;
            box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
            .card-img-top{border-radius: 5px;height: 13rem;}
            .card-body{
                p,h5{padding: 0;margin: 0;}
                .card-text{font-size: x-small;}
                .price{
                    color: $primary-color;
                    padding:5px 0;
                    font-size: large;
                }
                .btn{border-radius: 2px;}
            }
        }
    }
}

.testimonial{
    background-color: $primary-color;
    h4{color: $second-color;}
    .carousel{
        background-color: $second-color;
        .details{
            margin-left: .7rem;
            .name{font-size: large;}
            .job{
                font-size: small;
                color: #A7A7A7;
            }
            
        }
        .carousel-indicators {
            margin-bottom: -2.8rem;
            li{
                list-style: none;
                margin: .5rem;
                background-color: #B75269;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                cursor: pointer;
            }
            .active{
                background-color: $second-color;
            }
        }
        p{font-size: small;margin-top: 1rem;}
    }
}

.learnMore{
    padding: 2rem;
    background-image: url('/assets/learn.png');
    background-size: cover;
    color: $second-color;
    p,.btn{margin: 0;}
    .btn{
        border-radius: 3px;
    }
    p{padding-left: 2rem;}
}

/* Extra small devices (phones) */
@media (max-width: 575px) {
    .story{padding: 0;}
    .head, .about, .about2 {
        .content{max-width: 100%;}}
.py-3,.p-5{padding: 2px!important;}
.testimonial .carousel .carousel-indicators{
    margin-bottom: -1.5rem;
}
.foods{
    .menu{
        .card{
            .card-img-top{height: 8rem;}
        }
    }
}
}

/* Small devices (tablet) */
@media (min-width: 576px) and (max-width: 767px) {
    .foods{
    .menu{
        .card{
            .card-img-top{height: 9rem;}
        }
    }
}
}

/* Medium devices (tablet landscape) */
@media (min-width: 768px) and (max-width: 991px) {
    .foods{
    .menu{
        .card{
            .card-img-top{height: 10rem;}
        }
    }
}
}

/* Large devices (laptop) */
@media (min-width: 992px) and (max-width: 1199px) {
    .foods{
    .menu{
        .card{
            .card-img-top{height: 12rem;}
        }
    }
}
}

/* Extra large devices (large desktop) */
@media (min-width: 1200px) {
    .foods{
    .menu{
        .card{
            .card-img-top{height: 14rem;}
        }
    }
}
}
