$primary-color:#195A00;
$second-color:#ffffff;
.btn{
    background-color: $primary-color;
    color: $second-color;
    margin-right: 0.5em;
    padding: 0.3em 1em;
    font-size: small;
    border-radius: 0;
    text-transform: capitalize;
}
.head,.about,.about2{
    .content{
        max-width: 50%;
        p{
            margin-top: 1rem;
            font-size:x-small;
        }
    }
}
.rating{
    background-color: $primary-color;
    color: $second-color;
    p,h3{margin: 0;}
    p{text-transform:uppercase;font-size: small;}
}
.about2{
    li{
        font-size: small;
    }
    .image{
       .d-flex div{
        padding: .5em;
        }
    }
}

.story{
    padding: 4rem 8rem;
    background-color: #E9E7EA;
    position: relative;
    h4{color: $primary-color;}
    p{font-size: small;}
    .btn{
        background-color: #E9E7EA;
        border:1px solid #43121D;
        border-radius: 5px;
        color: #43121D;
    }
    .pic{
        position: absolute;
        bottom: 3rem;
        right: 3rem;
        width: 12%;
    }
}

.foods{
    h4{
        color: #43121D;
    }
    p{font-size: small;padding:0 4rem;}
    .menu{
        .col-4{padding: 0;}
        .card{
            margin: .5rem;     
            border-left: 0;
            box-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);
            .card-img-top{border-radius: 5px;}
            .card-body{
                p,h5{padding: 0;margin: 0;}
                .card-text{font-size: x-small;}
                .price{
                    color: $primary-color;
                    padding:5px 0;
                    font-size: large;
                }
                .btn{border-radius: 2px;}
            }
        }
    }
}

.testimonial{
    background-color: $primary-color;
    h4{color: $second-color;}
    .carousel{
        background-color: $second-color;
    }
}